In [42]:
# Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [43]:
# Import Data
amazon_data1 = Path('amazon_products.csv')
amazon_data2 = Path('amazon_categories.csv')

print(amazon_data1)
print(amazon_data2)

amazon_products.csv
amazon_categories.csv

In [44]:
# Read in the Amazon Products CSV as a DataFrame
amazon_data1_df = pd.read_csv(amazon_data1)

# Print the first 3 rows of the DataFrame
display(amazon_data1_df.head(3))

,asin,title,imgUrl,productURL,stars,reviews,price,listPrice,category_id,isBestSeller,boughtInLastMonth
0,B014TMV5YE,"Sion Softside Expandable Roller Luggage, Black...",https://m.media-amazon.com/images/I/815dLQKYIY...,https://www.amazon.com/dp/B014TMV5YE,4.5,0,139.99,0.00,104,False,2000
1,B07GDLCQXV,Luggage Sets Expandable PC+ABS Durable Suitcas...,https://m.media-amazon.com/images/I/81bQlm7vf6...,https://www.amazon.com/dp/B07GDLCQXV,4.5,0,169.99,209.99,104,False,1000
2,B07XSCCZYG,Platinum Elite Softside Expandable Checked Lug...,https://m.media-amazon.com/images/I/71EA35zvJB...,https://www.amazon.com/dp/B07XSCCZYG,4.6,0,365.49,429.99,104,False,300

In [45]:
# Read in the Amazon Categories CSV as a DataFrame
amazon_data2_df = pd.read_csv(amazon_data2)

# Print the first 3 rows of the DataFrame
display(amazon_data2_df.head(5))

   id                     category_name
0   1          Beading & Jewelry Making
1   2                 Fabric Decorating
2   3       Knitting & Crochet Supplies
3   4              Printmaking Supplies
4   5  Scrapbooking & Stamping Supplies

In [46]:
# Merge the Amazon Products and Amazon Categories DataFrames
# Amazon Categories has column name 'id' and Amazon Products has column name 'category_id'
# Merge on 'id' and 'category_id'
amazon_data_merged_df = pd.merge(amazon_data1_df, amazon_data2_df, left_on='category_id', right_on='id')
amazon_data_merged_df = amazon_data_merged_df.drop(columns=['id'])

# Print the first and last 3 rows of the merged DataFrame
display(amazon_data_merged_df.head(3))
display(amazon_data_merged_df.tail(3))

,asin,title,imgUrl,productURL,stars,reviews,price,listPrice,category_id,isBestSeller,boughtInLastMonth,category_name
0,B014TMV5YE,"Sion Softside Expandable Roller Luggage, Black...",https://m.media-amazon.com/images/I/815dLQKYIY...,https://www.amazon.com/dp/B014TMV5YE,4.5,0,139.99,0.00,104,False,2000,Suitcases
1,B07GDLCQXV,Luggage Sets Expandable PC+ABS Durable Suitcas...,https://m.media-amazon.com/images/I/81bQlm7vf6...,https://www.amazon.com/dp/B07GDLCQXV,4.5,0,169.99,209.99,104,False,1000,Suitcases
2,B07XSCCZYG,Platinum Elite Softside Expandable Checked Lug...,https://m.media-amazon.com/images/I/71EA35zvJB...,https://www.amazon.com/dp/B07XSCCZYG,4.6,0,365.49,429.99,104,False,300,Suitcases

,asin,title,imgUrl,productURL,stars,reviews,price,listPrice,category_id,isBestSeller,boughtInLastMonth,category_name
1426334,B0CD7FN8BV,Newest Wireless Android Auto Car Adapter for O...,https://m.media-amazon.com/images/I/61TKdNh2gn...,https://www.amazon.com/dp/B0CD7FN8BV,3.8,0,49.99,0.0,26,False,0,Car Electronics & Accessories
1426335,B0B1QGRXKX,Android 11 Car Radio for Jeep Wrangler 2011 20...,https://m.media-amazon.com/images/I/71alVzbCZJ...,https://www.amazon.com/dp/B0B1QGRXKX,3.0,0,228.88,260.0,26,False,0,Car Electronics & Accessories
1426336,B0BKZTFND2,RED WOLF Radio Wiring Harness w/Antenna Adapte...,https://m.media-amazon.com/images/I/71c9OiF1K6...,https://www.amazon.com/dp/B0BKZTFND2,3.1,0,18.99,0.0,26,False,0,Car Electronics & Accessories

In [47]:
# Print the info of the merged DataFrame
amazon_data_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426337 entries, 0 to 1426336
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   asin               1426337 non-null  object
 1   title              1426336 non-null  object
 2   imgUrl             1426337 non-null  object
 3   productURL         1426337 non-null  object
 4   stars              1426337 non-null  float64
 5   reviews            1426337 non-null  int64
 6   price              1426337 non-null  float64
 7   listPrice          1426337 non-null  float64
 8   category_id        1426337 non-null  int64
 9   isBestSeller       1426337 non-null  bool
 10  boughtInLastMonth  1426337 non-null  int64
 11  category_name      1426337 non-null  object
dtypes: bool(1), float64(3), int64(3), object(5)
memory usage: 121.1+ MB

In [48]:
# Clean the data

# Check for null values
display(amazon_data_merged_df.isnull().mean() * 100)

# Drop any null values
amazon_data_merged_df = amazon_data_merged_df.dropna()

# Check for duplicates
display(amazon_data_merged_df.duplicated().sum())

# Drop any duplicates
amazon_data_merged_df = amazon_data_merged_df.drop_duplicates()

# Drop NaN values
amazon_data_merged_df = amazon_data_merged_df.dropna()

# Check the data types
display(amazon_data_merged_df.dtypes)

# Print first 3 rows of the Amazon Products DataFrame
display(amazon_data_merged_df.head(3))

asin                 0.00000
title                0.00007
imgUrl               0.00000
productURL           0.00000
stars                0.00000
reviews              0.00000
price                0.00000
listPrice            0.00000
category_id          0.00000
isBestSeller         0.00000
boughtInLastMonth    0.00000
category_name        0.00000
dtype: float64

0

asin                  object
title                 object
imgUrl                object
productURL            object
stars                float64
reviews                int64
price                float64
listPrice            float64
category_id            int64
isBestSeller            bool
boughtInLastMonth      int64
category_name         object
dtype: object

,asin,title,imgUrl,productURL,stars,reviews,price,listPrice,category_id,isBestSeller,boughtInLastMonth,category_name
0,B014TMV5YE,"Sion Softside Expandable Roller Luggage, Black...",https://m.media-amazon.com/images/I/815dLQKYIY...,https://www.amazon.com/dp/B014TMV5YE,4.5,0,139.99,0.00,104,False,2000,Suitcases
1,B07GDLCQXV,Luggage Sets Expandable PC+ABS Durable Suitcas...,https://m.media-amazon.com/images/I/81bQlm7vf6...,https://www.amazon.com/dp/B07GDLCQXV,4.5,0,169.99,209.99,104,False,1000,Suitcases
2,B07XSCCZYG,Platinum Elite Softside Expandable Checked Lug...,https://m.media-amazon.com/images/I/71EA35zvJB...,https://www.amazon.com/dp/B07XSCCZYG,4.6,0,365.49,429.99,104,False,300,Suitcases

In [49]:
# Change 'asin' name to 'Product ID', 'title' to 'Product Desccription', 'stars' to 'Stars', 
# 'price' to 'Price', 'listPrice' to 'List Price', 'category_id' to 'Category ID', 'isBestSeller' to 'Best Seller',
# 'boughtinLastMonth' to 'Bought Last Month', 'category_name' to 'Category Name'
amazon_data_merged_df = amazon_data_merged_df.rename(columns={'asin': 'Product ID', 
                                                              'title': 'Product Description', 
                                                              'stars': 'Stars',
                                                              'reviews': 'Reviews',
                                                              'price': 'Price', 
                                                              'listPrice': 'List Price', 
                                                              'category_id': 'Category ID', 
                                                              'isBestSeller': 'Best Seller',
                                                              'boughtInLastMonth': 'Product Volume',                                                         
                                                              'category_name': 'Category Name'})

# Print the first 3 rows of the

In [50]:
# Drop 'imgUrl', 'productURL' columns from Amazon Products DataFrame
amazon_data_merged_df = amazon_data_merged_df.drop(columns=['imgUrl', 'productURL'])

# Print first 3 rows of the Amazon Products DataFrame
display(amazon_data_merged_df.head(3))

,Product ID,Product Description,Stars,Reviews,Price,List Price,Category ID,Best Seller,Product Volume,Category Name
0,B014TMV5YE,"Sion Softside Expandable Roller Luggage, Black...",4.5,0,139.99,0.00,104,False,2000,Suitcases
1,B07GDLCQXV,Luggage Sets Expandable PC+ABS Durable Suitcas...,4.5,0,169.99,209.99,104,False,1000,Suitcases
2,B07XSCCZYG,Platinum Elite Softside Expandable Checked Lug...,4.6,0,365.49,429.99,104,False,300,Suitcases

In [51]:
# Drop Product ID and Category ID columns
amazon_data_merged_df = amazon_data_merged_df.drop(columns=['Product ID', 'Category ID'])

In [52]:
# Change the column order
amazon_data_merged_df = amazon_data_merged_df[['Category Name', 'Product Description', 'Price', 'List Price', 'Stars', 'Reviews', 'Best Seller', 'Product Volume']]

# Print the first 3 rows of the merged DataFrame
amazon_data_merged_df.head(3)

,Category Name,Product Description,Price,List Price,Stars,Reviews,Best Seller,Product Volume
0,Suitcases,"Sion Softside Expandable Roller Luggage, Black...",139.99,0.00,4.5,0,False,2000
1,Suitcases,Luggage Sets Expandable PC+ABS Durable Suitcas...,169.99,209.99,4.5,0,False,1000
2,Suitcases,Platinum Elite Softside Expandable Checked Lug...,365.49,429.99,4.6,0,False,300

In [53]:
# Verify nulls have been dropped
amazon_data_merged_df.isnull().mean() * 100

Category Name          0.0
Product Description    0.0
Price                  0.0
List Price             0.0
Stars                  0.0
Reviews                0.0
Best Seller            0.0
Product Volume         0.0
dtype: float64

In [54]:
# Truncate the Product Description 
def condense_description(description):
    return description[:40]

# Apply the function to the Product Description column and overwrite the existing column
amazon_data_merged_df['Product Description'] = amazon_data_merged_df['Product Description'].apply(condense_description)

# Print the first 3 rows of the DataFrame
amazon_data_merged_df.head(3)

,Category Name,Product Description,Price,List Price,Stars,Reviews,Best Seller,Product Volume
0,Suitcases,"Sion Softside Expandable Roller Luggage,",139.99,0.00,4.5,0,False,2000
1,Suitcases,Luggage Sets Expandable PC+ABS Durable S,169.99,209.99,4.5,0,False,1000
2,Suitcases,Platinum Elite Softside Expandable Check,365.49,429.99,4.6,0,False,300

In [55]:
# Updated Data frame removing the 'Reviews' column and 'List Price' column
amazon_data_merged_df = amazon_data_merged_df.drop(columns=['Reviews', 'List Price'])

# Print the first 3 rows of the DataFrame
amazon_data_merged_df.head(3)

,Category Name,Product Description,Price,Stars,Best Seller,Product Volume
0,Suitcases,"Sion Softside Expandable Roller Luggage,",139.99,4.5,False,2000
1,Suitcases,Luggage Sets Expandable PC+ABS Durable S,169.99,4.5,False,1000
2,Suitcases,Platinum Elite Softside Expandable Check,365.49,4.6,False,300

In [56]:
# Adding a Total Spend column to see the correlation with the number of Stars and if its a Best Seller
# Add a Total Spend column to the DataFrame
amazon_data_merged_df['Total Spend'] = amazon_data_merged_df['Price'] * amazon_data_merged_df['Product Volume']

# Print the first 3 rows of the DataFrame
amazon_data_merged_df.head(3)

,Category Name,Product Description,Price,Stars,Best Seller,Product Volume,Total Spend
0,Suitcases,"Sion Softside Expandable Roller Luggage,",139.99,4.5,False,2000,279980.0
1,Suitcases,Luggage Sets Expandable PC+ABS Durable S,169.99,4.5,False,1000,169990.0
2,Suitcases,Platinum Elite Softside Expandable Check,365.49,4.6,False,300,109647.0

In [57]:
# Save the cleaned data to a new CSV file
file_path = Path('C:/Users/cedet/OneDrive/Desktop/amazon_data_cleaned1.csv')
amazon_data_merged_df.to_csv(file_path, index=False)